/* Use the same values in src/utils/constants Colors */
:root {
  /* --main-color: #1d1d3c; */
  --main-color: #002749;
  /* --secondary-color: #ec5951; */
  --secondary-color: #ff4e31;
  --third-color: #eeeeee;
  --text-color: #5d5d73;
  --header-color: #343450;
  --back-color: #e5e5e5;
}

.icon-search:before {
  color: var(--main-color);
}

.icon-twitter:before,
.icon-facebook:before,
.icon-flickr:before,
.icon-youtube:before,
.icon-vimeo:before {
  color: var(--third-color);
}

.h1-border-bottom > h1 {
  display: inline-block;
  text-transform: uppercase;
}

.h1-border-bottom > h1::after {
  content: "";
  display: block;
  margin: 0 auto 0 0;
  width: 33%;
  padding-top: 0.3rem;
  border-bottom: 0.3rem solid var(--secondary-color);
}

h1.common-header,
.common-header h1 {
  color: var(--header-color);
}

p.common-text,
.common-text p {
  font-size: 2rem;
  color: var(--text-color);
  line-height: 160%;
}

.common-background {
  color: var(--back-color);
}
