/* Use the same values in src/utils/constants Colors */
:root {
  --main-color: #1d1d3c;
  --secondary-color: #d44f3b;
  --third-color: #eeeeee;
}

.icon-search:before {
  color: var(--main-color);
}

.icon-twitter:before,
.icon-facebook:before,
.icon-flickr:before,
.icon-youtube:before,
.icon-vimeo:before {
  color: var(--third-color);
}

.h1-border-bottom h1::after {
  content: "";
  display: block;
  margin: 0 auto 0 0;
  width: 33%;
  padding-top: 0.3rem;
  border-bottom: 0.3rem solid var(--secondary-color);
}
